/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
.btn-full-width {
  background-color: #f1a53c;
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-family: "Proxima Nova Bold";
  padding: 10px 0;
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  margin-top: 60px; }
  .btn-full-width.grey-btn {
    margin-top: 0;
    background-color: #cbcbcb; }

.upload_file {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0; }

.nav-article {
  padding-top: 30px;
  display: block;
  clear: both; }

a.vert-center {
  padding-top: 6px; }

.nav-tabs > li.active > a {
  background-color: #fff;
  border-color: transparent transparent #ebae5b;
  border-style: none none solid;
  border-width: medium medium 3px;
  color: #1b1b1b;
  cursor: default; }
  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #fff;
    border-color: transparent transparent #ebae5b;
    border-style: none none solid;
    border-width: medium medium 3px;
    color: #555555;
    cursor: default; }
.nav-tabs > li > a {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-family: "Proxima Nova Semi";
  color: #cacaca; }

#inner-page {
  min-height: 500px; }

#banner-top {
  min-height: 350px;
  position: relative;
  z-index: 10;
  margin-bottom: 180px; }

#banner-top-payment {
  min-height: 350px;
  position: relative;
  z-index: 10;
  margin-bottom: 100px; }
  #banner-top-payment h1 {
    font-family: proxima_novalight;
    color: #FFFFFF;
    font-size: 60px;
    margin-top: 120px;
    margin-bottom: 0;
    letter-spacing: 15px; }

.tab-content {
  padding-top: 40px;
  padding-bottom: 30px; }
  .tab-content h3 {
    font-size: 24px;
    font-family: "Proxima Nova Semi";
    color: #1b1b1b; }

.list-gallery.blog figure.img-thumbnail {
  border: medium none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: block;
  height: auto;
  margin-bottom: 15px;
  max-height: 344px;
  overflow: hidden;
  padding: 0;
  width: 100%; }
  .list-gallery.blog figure.img-thumbnail img {
    width: 100%;
    height: auto; }
.list-gallery.blog h5 {
  font-size: 15px;
  font-family: "Proxima Nova Bold";
  color: #1b1b1b;
  margin-top: 0;
  margin-bottom: 0; }
  .list-gallery.blog h5 a {
    color: #1b1b1b; }
  .list-gallery.blog h5.meta-date {
    font-family: proxima_novalight; }
.list-gallery.blog p {
  font-family: "Proxima Nova";
  font-size: 13px;
  line-height: 24px;
  color: #1b1b1b; }
.list-gallery.blog a.readmore {
  color: #f2a43f;
  letter-spacing: 0;
  font-size: 14px; }
.list-gallery.blog .gallery-innertext {
  background: none;
  padding-left: 0;
  margin-top: 20px; }
.list-gallery.blog .hanger-box {
  padding: 20px; }

.list-content {
  margin-top: 24px;
  margin-bottom: 50px; }
  .list-content.with-border {
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd; }
  .list-content h3 {
    font-family: "Proxima Nova Semi";
    margin: 0 0 20px;
    padding: 0;
    font-size: 24px;
    color: #1b1b1b; }
    .list-content h3 a {
      color: #1b1b1b; }
  .list-content h4 {
    font-family: "Proxima Nova Semi";
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #1b1b1b; }
    .list-content h4.bigger {
      font-size: 22px; }
    .list-content h4 a {
      color: #1b1b1b; }
  .list-content h5 {
    font-family: "Proxima Nova Semi";
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #010101; }
    .list-content h5 a {
      color: #010101; }
  .list-content h6 {
    font-family: "Proxima Nova";
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #010101; }
    .list-content h6 a {
      color: #010101; }
  .list-content figure.block-img {
    margin-top: 15px;
    margin-bottom: 30px;
    display: block;
    padding: 2px;
    border: 1px solid #dddddd; }
    .list-content figure.block-img img {
      width: 100%;
      height: auto; }
  .list-content p {
    font-family: "Proxima Nova";
    color: #1b1b1b;
    line-height: 22px; }
    .list-content p a {
      font-family: "Proxima Nova Semi";
      color: #1b1b1b; }

.top-profile {
  position: absolute;
  height: 0;
  width: 100%;
  left: 0;
  bottom: 85px;
  z-index: 11; }
  .top-profile h3 {
    font-size: 24px;
    font-family: proxima_novalight;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 4px; }
  .top-profile h4 {
    font-size: 18px;
    font-family: "Proxima Nova Semi";
    color: #FFFFFF;
    margin-bottom: 8px;
    margin-top: 0; }
  .top-profile p {
    font-family: "Proxima Nova Semi";
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0;
    color: #FFFFFF; }
    .top-profile p a {
      text-decoration: none;
      color: #FFFFFF; }
      .top-profile p a.separated {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px; }
  .top-profile .box-img-profile {
    width: 170px;
    height: 170px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #FFFFFF; }
    .top-profile .box-img-profile img {
      width: 100%;
      height: auto; }

.top-com-profile {
  width: 100%;
  display: inline-block;
  clear: both;
  margin-top: 10px;
  margin-bottom: 30px;
  vertical-align: middle; }
  .top-com-profile .pic-company {
    background-color: #1b1b1b;
    display: inline-block;
    vertical-align: middle;
    width: 142px;
    height: 142px;
    overflow: hidden;
    margin-right: 15px;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .top-com-profile .pic-company img {
      width: 100%;
      height: auto; }
  .top-com-profile .info-company {
    display: inline-block;
    vertical-align: middle;
    width: auto; }
    .top-com-profile .info-company h3 {
      font-family: proxima_novalight;
      color: #1b1b1b;
      display: inline-block;
      vertical-align: middle;
      font-size: 22px;
      clear: both; }
    .top-com-profile .info-company .info-block {
      display: inline-block;
      vertical-align: top;
      max-width: 200px;
      margin-right: 20px; }
      .top-com-profile .info-company .info-block span {
        font-size: 14px; }
        .top-com-profile .info-company .info-block span.set-length {
          width: 60px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 14px; }

.box-porto {
  margin-bottom: 15px; }
  .box-porto figure {
    width: 100%;
    height: auto;
    max-height: 164px;
    margin: 0 auto 15px;
    display: block;
    overflow: hidden; }
    .box-porto figure img {
      width: 100%;
      height: auto; }
  .box-porto h4 {
    font-family: "Proxima Nova Semi";
    font-size: 16px;
    margin-top: 0;
    color: #1b1b1b; }
    .box-porto h4 a {
      color: #1b1b1b; }
  .box-porto h5 {
    font-family: proxima_novalight;
    font-size: 14px;
    margin-top: 0;
    color: #1b1b1b; }
    .box-porto h5 a {
      color: #1b1b1b; }
    .box-porto h5 span {
      color: #d0d0d0;
      display: inline-block;
      vertical-align: top;
      margin-left: 15px; }

ul.social-links {
  margin: 20px 0 0;
  padding: 0;
  list-style: none; }
  ul.social-links > li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }
    ul.social-links > li a {
      text-decoration: none;
      color: #1b1b1b; }
ul.step {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  display: block;
  border-bottom: 1px solid #dddddd; }
  ul.step > li {
    float: left;
    display: block;
    margin-right: 15px; }
    ul.step > li a {
      color: #cbcbcb;
      text-decoration: none;
      display: block;
      padding-bottom: 4px;
      border-bottom: 2px solid transparent; }
    ul.step > li.active a {
      border-bottom: 2px solid #1b191c;
      color: #1b191c; }

#inner-reg-form {
  clear: both; }
  #inner-reg-form .custom-form {
    margin-top: 60px; }

.full-border {
  padding: 15px 15px 0;
  border: 1px solid #666666;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin-bottom: 15px; }

.line-separator {
  position: relative;
  z-index: 10; }
  .line-separator:before {
    background-color: #1b1b1b;
    content: "";
    height: 1px;
    left: 3px;
    position: absolute;
    top: 22px;
    width: 7px;
    z-index: 10; }

.big-text-form {
  background: url("../img/big-text4.png") no-repeat right 120px; }

form.custom-form input.checkbox {
  display: inline-block;
  vertical-align: top; }
form.custom-form label.custom-label {
  display: inline-block;
  vertical-align: middle;
  padding: 13px;
  font-weight: normal; }
  form.custom-form label.custom-label.grey-color {
    color: #8d8d8d; }
form.custom-form a.plus-upload {
  background: url("../img/icon/i-plus.jpg") no-repeat center center;
  display: block;
  text-decoration: none;
  width: 25px;
  height: 25px; }
form.custom-form p span.price-pay {
  font-family: "Proxima Nova Semi";
  font-size: 24px;
  color: #f2a53b;
  display: block; }
form.custom-form p span.info-field {
  color: #cbcbcb; }

/*# sourceMappingURL=inner.css.map */
