/*========================================
@ADDITIOANAL STYLE
========================================*/
img {
  width: auto\9;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  border: 0;
}
.expander{
	span{
		transition: all 0.5s;
		-moz-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	&.expander-active{
		span{
			transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
		}
	}


	&.v-arrow{
		&.expander-active{
			span{
				transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-webkit-transform: rotate(0deg);
			}
		}
	}
}

input:focus, button:focus{
    outline: none;
}


.dd-city{
	.dropdown-menu {
	    width: 100%;
	    border-radius: 0;
	    -moz-border-radius: 0;
	    -webkit-border-radius: 0;
	     > li > a{
	    	padding: 6px 20px;
	    }
	    > li:hover > a{
	    	color: white;
	    	background: #f1a53c;	   
	    }
	}
}

#top-carousel {
	.item{
		/*padding: 21% 0 20%;*/
		height: 81vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;	
		-moz-background-size: cover;	
		-webkit-background-size: cover;	
		

	}

	.carousel-caption{
		/*display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;*/
		/*width: 100%;*/
	}
}

#logo img, 
ul.site-nav > li > a,
#header{
	transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
#dashboard{
	transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
}

.header-wrap{
	transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	&.stickyHead{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 900;

		ul.site-nav > li > a{
			padding-top: 19px;
			padding-bottom: 19px;
		}
		#logo img{
			width: 70px;
		}
		#header{
			padding: 0;
		}
		#dashboard{
			padding: 2px 0;
		}
	}
}